.modal {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;

}
.modal__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 400px;
    height: 600px;
    transform: scale(0.5);
    transition: 0.4s all;

}
.modal__content.active {
    transform: scale(1);
}
.modal__content-title {
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}
.modal__content-close-btn {
    text-align: right;
    font-size: 40px;
    color: #FF5E56;
    cursor: pointer;
}
.modal__content-text {
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}
.modal__content label {
    font-size: 14px;
}
.modal__content-form {
    text-align: left;
    padding-bottom: 25px;
}
.modal__content-form input {
    width: 300px;
    height: 40px;
    border-width: 1px;
    border-color: #DFE3E6;
    border-style: solid;
    outline: none;
}
.modal__content-form-btn {
    margin-top: 20px;
    color: #FF5E56;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.modal__content-result {
    font-size: 14px;
    font-weight: 400;
}
.modal__content-result.hidden {
    display: none;
}
.modal__content-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: #FF5E56;
    color: white;
}